head-1 {
    background-color:  #FAFAD2;
    background-image: linear-gradient( #CFCFCF, white);
    text-align: center;
}
.tieude1 {
    font-size: 100px;
    text-shadow: 8px 3px gainsboro;
    text-align: center;
}
.head-1 p {
    font-size: 50px;
    text-align: center;
    background-color:tomato;
}
.container {
    background-color: #CFCFCF;
    background-image: linear-gradient( white, #CFCFCF);
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.container div {
    padding: 40px;
}
/* container menu */
.container-menu1 {
    width: 500px;
    height: 435px;
    border-radius: 24px;
    border: 2px solid gray;
}
.container-menu2 {
    width: 500px;
    height: 435px;
    border-radius: 24px;
    border: 2px solid gray;
}
.container-menu3 {
    width: 500px;
    height: 435px;
    border-radius: 24px;
    border: 2px solid gray;

